CREATE DATABASE QLGARAOTO
USE [QLGARAOTO]
GO
/****** Object:  Table [dbo].[BAOCAODOANHTHU]    Script Date: 5/18/2024 23:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAODOANHTHU](
	[MaBaoCaoDoanhThu] [int] IDENTITY(1,1) NOT NULL,
	[ThangBaoCao] [date] NOT NULL,
	[NamBaoCao] [date] NOT NULL,
	[TongDoanhThu] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBaoCaoDoanhThu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BAOCAOTON]    Script Date: 5/18/2024 23:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAOTON](
	[MaVatTuPhuTung] [int] NOT NULL,
	[ThangBaoCaoTon] [date] NOT NULL,
	[NamBaoCaoTon] [date] NOT NULL,
	[TonDau] [int] NOT NULL,
	[PhatSinh] [int] NOT NULL,
	[TonCuoi] [int] NOT NULL,
 CONSTRAINT [pk_BaoCaoTon] PRIMARY KEY CLUSTERED 
(
	[MaVatTuPhuTung] ASC,
	[ThangBaoCaoTon] ASC,
	[NamBaoCaoTon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUNHAP]    Script Date: 5/18/2024 23:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUNHAP](
	[MaVatTuPhuTung] [int] NOT NULL,
	[MaNhapHang] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[GiaNhap] [money] NULL,
	[ThanhTien] [money] NULL,
 CONSTRAINT [pk_CTPhieuNhap] PRIMARY KEY CLUSTERED 
(
	[MaVatTuPhuTung] ASC,
	[MaNhapHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETSUACHUA]    Script Date: 5/18/2024 23:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETSUACHUA](
	[MaChiTietSuaChua] [int] IDENTITY(1,1) NOT NULL,
	[MaSuaChua] [int] NOT NULL,
	[MaTienCong] [int] NOT NULL,
	[NoiDung] [nvarchar](100) NULL,
	[TongTienVTPT] [money] NULL,
	[TongCong] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietSuaChua] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUCNANG]    Script Date: 5/18/2024 23:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCNANG](
	[MaChucNang] [int] IDENTITY(1,1) NOT NULL,
	[TenChucNang] [nvarchar](100) NOT NULL,
	[TenManHinhDuocLoad] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChucNang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUXE]    Script Date: 5/18/2024 23:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUXE](
	[MaChuXe] [int] IDENTITY(1,1) NOT NULL,
	[TenChuXe] [nvarchar](50) NOT NULL,
	[DiaChiChuXe] [nvarchar](100) NOT NULL,
	[SDTChuXe] [varchar](12) NOT NULL,
	[EmailChuXe] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChuXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_SUDUNGVTPT]    Script Date: 5/18/2024 23:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_SUDUNGVTPT](
	[MaChiTietSuaChua] [int] NOT NULL,
	[MaVatTuPhuTung] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [money] NULL,
	[ThanhTien] [money] NULL,
 CONSTRAINT [pk_CTSuDungVTPT] PRIMARY KEY CLUSTERED 
(
	[MaChiTietSuaChua] ASC,
	[MaVatTuPhuTung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTBAOCAODOANHTHU]    Script Date: 5/18/2024 23:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTBAOCAODOANHTHU](
	[MaBaoCaoDoanhThu] [int] NOT NULL,
	[MaHieuXe] [int] NOT NULL,
	[SoLuotSua] [int] NULL,
	[ThanhTien] [money] NULL,
	[TiLe] [real] NULL,
 CONSTRAINT [pk_CTBaoCaoDoanhThu] PRIMARY KEY CLUSTERED 
(
	[MaBaoCaoDoanhThu] ASC,
	[MaHieuXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONVITINH]    Script Date: 5/18/2024 23:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONVITINH](
	[MaDVT] [int] IDENTITY(1,1) NOT NULL,
	[TenDVT] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HIEUXE]    Script Date: 5/18/2024 23:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HIEUXE](
	[MaHieuXe] [int] IDENTITY(1,1) NOT NULL,
	[TenHieuXe] [varchar](50) NOT NULL,
	[GhiChu] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHieuXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 5/18/2024 23:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[MaNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [varchar](100) NOT NULL,
	[MatKhau] [varchar](50) NOT NULL,
	[TenNguoiDung] [nvarchar](100) NOT NULL,
	[DiaChiNguoiDung] [nvarchar](100) NOT NULL,
	[SDTNguoiDung] [varchar](12) NOT NULL,
	[CCCDNguoiDung] [varchar](12) NOT NULL,
	[NgaySinhNguoiDung] [smalldatetime] NOT NULL,
	[MaNhom] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 5/18/2024 23:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MaNhaCungCap] [int] IDENTITY(1,1) NOT NULL,
	[SDTNhaCungCap] [varchar](12) NOT NULL,
	[EmailNhaCungCap] [varchar](50) NOT NULL,
	[DiachiNhaCungCap] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhaCungCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHOMNGUOIDUNG]    Script Date: 5/18/2024 23:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMNGUOIDUNG](
	[MaNhom] [int] IDENTITY(1,1) NOT NULL,
	[TenNhom] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 5/18/2024 23:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[MaNhom] [int] NOT NULL,
	[MaChucNang] [int] NOT NULL,
 CONSTRAINT [pk_PhanQuyen] PRIMARY KEY CLUSTERED 
(
	[MaNhom] ASC,
	[MaChucNang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 5/18/2024 23:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MaNhapHang] [int] IDENTITY(1,1) NOT NULL,
	[MaNhaCungCap] [int] NOT NULL,
	[NgayNhapHang] [smalldatetime] NULL,
	[TongTienNhapHang] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhapHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUSUACHUA]    Script Date: 5/18/2024 23:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUSUACHUA](
	[MaSuaChua] [int] IDENTITY(1,1) NOT NULL,
	[MaTiepNhan] [int] NOT NULL,
	[NgaySuaChua] [smalldatetime] NOT NULL,
	[TongTienSuaCHua] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSuaChua] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTHUTIEN]    Script Date: 5/18/2024 23:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHUTIEN](
	[MaPhieuThuTien] [int] IDENTITY(1,1) NOT NULL,
	[MaTiepNhan] [int] NOT NULL,
	[NgayThuTien] [smalldatetime] NOT NULL,
	[SoTienThu] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuThuTien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THAMSO]    Script Date: 5/18/2024 23:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAMSO](
	[TenThamSo] [nvarchar](1) NOT NULL,
	[GiaTri] [real] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TenThamSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIENCONG]    Script Date: 5/18/2024 23:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIENCONG](
	[MaTienCong] [int] IDENTITY(1,1) NOT NULL,
	[TenTienCong] [nvarchar](100) NOT NULL,
	[GiaTienCong] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTienCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VATTUPHUTUNG]    Script Date: 5/18/2024 23:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VATTUPHUTUNG](
	[MaVatTuPhuTung] [int] IDENTITY(1,1) NOT NULL,
	[TenVTPT] [nvarchar](100) NOT NULL,
	[MaDVT] [int] NOT NULL,
	[DonGiaNhap] [money] NOT NULL,
	[DonGiaBan] [money] NOT NULL,
	[SoLuongTon] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVatTuPhuTung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XE]    Script Date: 5/18/2024 23:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XE](
	[MaTiepNhan] [int] IDENTITY(1,1) NOT NULL,
	[MaChuXe] [int] NOT NULL,
	[MaHieuXe] [int] NOT NULL,
	[BienSoXe] [varchar](10) NOT NULL,
	[NgayTiepNhan] [smalldatetime] NOT NULL,
	[TienNo] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTiepNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CHUCNANG] ON 

INSERT [dbo].[CHUCNANG] ([MaChucNang], [TenChucNang], [TenManHinhDuocLoad]) VALUES (1, N'Thêm nhân viên', N'ThemNhanVien')
SET IDENTITY_INSERT [dbo].[CHUCNANG] OFF
GO
SET IDENTITY_INSERT [dbo].[NGUOIDUNG] ON 

INSERT [dbo].[NGUOIDUNG] ([MaNguoiDung], [TenDangNhap], [MatKhau], [TenNguoiDung], [DiaChiNguoiDung], [SDTNguoiDung], [CCCDNguoiDung], [NgaySinhNguoiDung], [MaNhom]) VALUES (1, N'tamnhu', N'12345', N'Nguyễn Thị Tâm Như', N'Bình Dương', N'0777031667', N'074304003614', CAST(N'2004-01-12T00:00:00' AS SmallDateTime), 1)
SET IDENTITY_INSERT [dbo].[NGUOIDUNG] OFF
GO
SET IDENTITY_INSERT [dbo].[NHOMNGUOIDUNG] ON 

INSERT [dbo].[NHOMNGUOIDUNG] ([MaNhom], [TenNhom]) VALUES (1, N'Quản lý')
SET IDENTITY_INSERT [dbo].[NHOMNGUOIDUNG] OFF
GO
INSERT [dbo].[PHANQUYEN] ([MaNhom], [MaChucNang]) VALUES (1, 1)
GO
ALTER TABLE [dbo].[BAOCAOTON]  WITH CHECK ADD  CONSTRAINT [fk_BaoCaoTon] FOREIGN KEY([MaVatTuPhuTung])
REFERENCES [dbo].[VATTUPHUTUNG] ([MaVatTuPhuTung])
GO
ALTER TABLE [dbo].[BAOCAOTON] CHECK CONSTRAINT [fk_BaoCaoTon]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [fk_CTPhieuNhap1] FOREIGN KEY([MaNhapHang])
REFERENCES [dbo].[PHIEUNHAP] ([MaNhapHang])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [fk_CTPhieuNhap1]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [fk_CTPhieuNhap2] FOREIGN KEY([MaVatTuPhuTung])
REFERENCES [dbo].[VATTUPHUTUNG] ([MaVatTuPhuTung])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [fk_CTPhieuNhap2]
GO
ALTER TABLE [dbo].[CHITIETSUACHUA]  WITH CHECK ADD  CONSTRAINT [fk_CTSC1] FOREIGN KEY([MaSuaChua])
REFERENCES [dbo].[PHIEUSUACHUA] ([MaSuaChua])
GO
ALTER TABLE [dbo].[CHITIETSUACHUA] CHECK CONSTRAINT [fk_CTSC1]
GO
ALTER TABLE [dbo].[CHITIETSUACHUA]  WITH CHECK ADD  CONSTRAINT [fk_CTSC2] FOREIGN KEY([MaTienCong])
REFERENCES [dbo].[TIENCONG] ([MaTienCong])
GO
ALTER TABLE [dbo].[CHITIETSUACHUA] CHECK CONSTRAINT [fk_CTSC2]
GO
ALTER TABLE [dbo].[CT_SUDUNGVTPT]  WITH CHECK ADD  CONSTRAINT [fk_CTSuDungVTPT1] FOREIGN KEY([MaChiTietSuaChua])
REFERENCES [dbo].[CHITIETSUACHUA] ([MaChiTietSuaChua])
GO
ALTER TABLE [dbo].[CT_SUDUNGVTPT] CHECK CONSTRAINT [fk_CTSuDungVTPT1]
GO
ALTER TABLE [dbo].[CT_SUDUNGVTPT]  WITH CHECK ADD  CONSTRAINT [fk_CTSuDungVTPT2] FOREIGN KEY([MaVatTuPhuTung])
REFERENCES [dbo].[VATTUPHUTUNG] ([MaVatTuPhuTung])
GO
ALTER TABLE [dbo].[CT_SUDUNGVTPT] CHECK CONSTRAINT [fk_CTSuDungVTPT2]
GO
ALTER TABLE [dbo].[CTBAOCAODOANHTHU]  WITH CHECK ADD  CONSTRAINT [fk_CTBaoCaoDoanhThu1] FOREIGN KEY([MaBaoCaoDoanhThu])
REFERENCES [dbo].[BAOCAODOANHTHU] ([MaBaoCaoDoanhThu])
GO
ALTER TABLE [dbo].[CTBAOCAODOANHTHU] CHECK CONSTRAINT [fk_CTBaoCaoDoanhThu1]
GO
ALTER TABLE [dbo].[CTBAOCAODOANHTHU]  WITH CHECK ADD  CONSTRAINT [fk_CTBaoCaoDoanhThu2] FOREIGN KEY([MaHieuXe])
REFERENCES [dbo].[HIEUXE] ([MaHieuXe])
GO
ALTER TABLE [dbo].[CTBAOCAODOANHTHU] CHECK CONSTRAINT [fk_CTBaoCaoDoanhThu2]
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [fk_NguoiDung] FOREIGN KEY([MaNhom])
REFERENCES [dbo].[NHOMNGUOIDUNG] ([MaNhom])
GO
ALTER TABLE [dbo].[NGUOIDUNG] CHECK CONSTRAINT [fk_NguoiDung]
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [fk_PhanQuyen1] FOREIGN KEY([MaNhom])
REFERENCES [dbo].[NHOMNGUOIDUNG] ([MaNhom])
GO
ALTER TABLE [dbo].[PHANQUYEN] CHECK CONSTRAINT [fk_PhanQuyen1]
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [fk_PhanQuyen2] FOREIGN KEY([MaChucNang])
REFERENCES [dbo].[CHUCNANG] ([MaChucNang])
GO
ALTER TABLE [dbo].[PHANQUYEN] CHECK CONSTRAINT [fk_PhanQuyen2]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [fk_PhieuNhap] FOREIGN KEY([MaNhaCungCap])
REFERENCES [dbo].[NHACUNGCAP] ([MaNhaCungCap])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [fk_PhieuNhap]
GO
ALTER TABLE [dbo].[PHIEUSUACHUA]  WITH CHECK ADD  CONSTRAINT [fk_PhieuSuaChua] FOREIGN KEY([MaTiepNhan])
REFERENCES [dbo].[XE] ([MaTiepNhan])
GO
ALTER TABLE [dbo].[PHIEUSUACHUA] CHECK CONSTRAINT [fk_PhieuSuaChua]
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN]  WITH CHECK ADD  CONSTRAINT [fk_PhieuThuTien] FOREIGN KEY([MaTiepNhan])
REFERENCES [dbo].[XE] ([MaTiepNhan])
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN] CHECK CONSTRAINT [fk_PhieuThuTien]
GO
ALTER TABLE [dbo].[VATTUPHUTUNG]  WITH CHECK ADD  CONSTRAINT [fk_VTPT] FOREIGN KEY([MaDVT])
REFERENCES [dbo].[DONVITINH] ([MaDVT])
GO
ALTER TABLE [dbo].[VATTUPHUTUNG] CHECK CONSTRAINT [fk_VTPT]
GO
ALTER TABLE [dbo].[XE]  WITH CHECK ADD  CONSTRAINT [fk_Xe1] FOREIGN KEY([MaChuXe])
REFERENCES [dbo].[CHUXE] ([MaChuXe])
GO
ALTER TABLE [dbo].[XE] CHECK CONSTRAINT [fk_Xe1]
GO
ALTER TABLE [dbo].[XE]  WITH CHECK ADD  CONSTRAINT [fk_Xe2] FOREIGN KEY([MaHieuXe])
REFERENCES [dbo].[HIEUXE] ([MaHieuXe])
GO
ALTER TABLE [dbo].[XE] CHECK CONSTRAINT [fk_Xe2]
GO
